@using FestivalWebApplication.ViewModels.Sponsor;
@model List<FestivalWebApplication.ViewModels.Sponsor.SponsorsListVM>
@{
    ViewData["Title"] = "Sponsors";
}

<h1>Sponsors</h1>
<div style="float:right; margin-bottom:10px;">
    <a asp-controller="Sponsor" asp-action="New" class="btn btn-success btn-lg active addnew" role="button" aria-pressed="true">Add New   <i class="fa fa-plus"></i></a>
</div>
<table class="table table-striped table-hover">
    <thead class="thead-dark zaglavlje">
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Contact Person</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SponsorsListVM x in Model)
        {
            <tr>
                <td>@x.SponsorID</td>
                <td>@x.CompanyName</td>
                <td>@x.Address</td>
                <td>@x.Number</td>
                <td>@x.ContactPersonName</td>
                <td>
                    <a style="margin-right:5px;" asp-controller="Sponsor" asp-action="Detail" asp-route-id="@x.SponsorID" class="btn btn-info active" role="button" aria-pressed="true">
                        <i class="fa fa-info mr-1"></i>
                        Detail
                    </a>
                    <a style="margin-right:5px;" asp-controller="Sponsor" asp-action="Edit" asp-route-id="@x.SponsorID" class="btn btn-secondary active" role="button" aria-pressed="true">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                    <a asp-controller="Sponsor" asp-action="Delete" asp-route-id="@x.SponsorID" class="btn btn-danger" role="button" aria-pressed="true">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
