@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Festival.Web.ViewModels.Performer.DetailPerformerVM;
@{
    ViewData["Title"] = Model.Name;
}

<div class="col-6" style="float:left">
    <h2 class="detailName">@Model.Name</h2>
    <div class="form-group row detailRow">
        <label class="detailLabel" for="Fee">Performer fee : </label>
        <span class="detailData">@Model.Fee KM</span>
    </div>
    <div class="form-group row detailRow">
        <label class="detailLabel" for="PromoText">Promo text : </label>
        <span class="detailData">@Model.PromoText</span>
    </div>
    <br />
    <h4 class="detailName">Manager Info:  </h4>
    <div class="form-group row detailRow">
        <label class="detailLabel" for="ManagerPhoneNumber">Manager name : </label>
        <span class="detailData">@Model.ManagerName</span>
    </div>
    <div class="form-group row detailRow">
        <label class="detailLabel" for="ManagerPhoneNumber">Manager phone number : </label>
        <span class="detailData">@Model.ManagerPhoneNumber</span>
    </div>
    <div class="form-group row detailRow">
        <label class="detailLabel" for="ManagerEmail">Manager e-mail : </label>
        <span class="detailData">@Model.ManagerEmail</span>
    </div>
    <div class="detailButtons btn-group">
        <a style="margin-right:5px;" asp-controller="Performer" asp-action="List" class="btn btn-info active" role="button" aria-pressed="true">
            Back
            <i class="fa fa-undo"></i>
        </a>
        <a style="margin-right:5px;" asp-controller="Performer" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary active" role="button" aria-pressed="true">
            Edit
            <i class="fa fa-edit"></i>
        </a>
        <a asp-controller="Performer" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" role="button" aria-pressed="true">
            Delete
            <i class="fa fa-trash"></i>
        </a>
    </div>
</div>
<div class="col-6 " style="float:right">
    <img src="~/images/performers/@Model.Picture" class="accImage imageDiv" />
</div>

<div class="clearfix"></div>
