@using Festival.Web.ViewModels.TicketType;
@model List<Festival.Web.ViewModels.TicketType.TicketTypeListVM>
@{
    ViewData["Title"] = "Ticket Types";
}

<h1>Ticket Types</h1>
<div style="float:right; margin-bottom:10px;">
    <a asp-controller="TicketType" asp-action="New" class="btn btn-success btn-lg active addnew" role="button" aria-pressed="true">Add New   <i class="fa fa-plus"></i></a>
</div>
<table class="table table-striped table-hover text-center">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Tickets sold</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int broj = 0; }
        @foreach (TicketTypeListVM x in Model)
        {
            broj++;
            <tr>
                <td>@broj</td>
                <td>@x.Name</td>
                <td>@x.Description</td>
                <td>@x.Price KM</td>
                <td>@x.TicketsBought</td>
                <td>
                    <div class="btn-group">
                        <a style="margin-right:5px;" asp-controller="TicketType" asp-action="Detail" asp-route-id="@x.Id" class="btn btn-info active btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-info mr-1"></i>
                            Detail
                        </a>
                        <a style="margin-right:5px;" asp-controller="TicketType" asp-action="Edit" asp-route-id="@x.Id" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a asp-controller="TicketType" asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
