@using Festival.Web.Areas.Guest.ViewModels.Accommodation
@model List<AccommodationListVM>
@{
    ViewData["Title"] = "Accommodation";
    Layout = "~/Areas/Guest/Views/Shared/_UserLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<section id="team" class="section gray-bg">
    <div class="container">
        @{ var rowCount = 0;}
        @foreach (AccommodationListVM x in Model)
        {
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-member wow animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        @if (rowCount % 2 == 0)
                        {
                            <div class="team-desc">
                                <h3>@x.Name</h3>
                                
                                <h5>Distance from the festival site: @x.Distance km</h5>
                               
                                <p>@x.Description</p>
                            </div>
                            <div class="team-img">
                                <img src="~/images/accommodations/@x.Picture" alt="">
                                <div class="social-icon">
                                    <h3>@x.Address</h3>
                                    <h3>@x.PhoneNumber</h3>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="team-img">
                                <img src="~/images/accommodations/@x.Picture" alt="">
                                <div class="social-icon">
                                    <h3>@x.Address</h3>
                                    <h3>@x.PhoneNumber</h3>
                                </div>
                            </div>
                            <div class="team-desc">
                                <h3>@x.Name</h3>
                                
                                <h5>Distance from the festival site: @x.Distance km</h5>
                                
                                <p>@x.Description</p>
                            </div>
                        }
                        @{ rowCount++;}
                    </div>
                </div>
            </div>
        }


    </div>

</section>

<script>
    $(function ($) {
        $(".single-member:odd").addClass("fadeInLeft");
        $(".single-member:even").addClass("fadeInRight");
        $(".team-img:odd").addClass("left");
        $(".team-img:even").addClass("right");

    })
</script>