@using Festival.Data.Models;
@using Festival.Web.Areas.Guest.ViewModels.Performance;
@model List<GroupedPerformanceListVM>
@{
    ViewData["Title"] = "Line Up";
    Layout = "~/Areas/Guest/Views/Shared/_UserLayout.cshtml";

}
<style>
    .tab-pane .member-img {
        padding: 0 !important;
        overflow: hidden;
    }

    #myModal {
        z-index: 999999;
    }
    @@media (min-width: 768px) {
  .modal-xl {
    width: 80%;
   max-width:1200px;
  }

}
.team-img{
    width:60% !important;
}
.team-desc{
    width:40% !important;
}
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<section id="schedule" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Schedule Main board Start-->
                <div class="main-board wow fadeInDown animated" data-wow-delay="0.3s" style="        visibility: visible;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs day" role="tablist">
                        @{var broj = 0; }
                        @foreach (GroupedPerformanceListVM group in Model)
                        {
                            broj++;
                            <li role="presentation" class=""><a href="#@("day" +broj)" aria-controls="@("day" +broj)" role="tab" data-toggle="tab" aria-expanded="false">@group.Key <br> <span>DAY @broj</span></a></li>
                        }
                    </ul>
                    <div class="tab-content">
                        @{ broj = 0; }
                        @foreach (GroupedPerformanceListVM group in Model)
                        {
                            broj++;
                            <!-- Tab content Start -->


                            <div role="tabpanel" class="tab-pane" id="@("day" +broj)">
                                <div class="row">
                                    @foreach (PerformanceListVM x in group.Performances)
                                    {

                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="speakers-member wow fadeInUp animated" data-wow-delay="0s" style="visibility:visible; animation-delay:0.1s; -moz-animation-delay:0.1s; -webkit-animation-delay:0.1s">
                                                <div class="member-img">
                                                    <img style="max-width:100%;" src="~/images/performers/@x.Image" />
                                                </div>
                                                <div class="member-desc">
                                                    <h3>@x.Performer</h3>
                                                    <a asp-controller="Stage" asp-action="Details" asp-route-id="@x.StageID" data-target="#myModal" data-toggle="modal"><h4>@x.Stage</h4></a>
                                                    <h4>@x.StartTime</h4>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>



                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade">
    <div role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">


            </div>

        </div>
    </div>
</div>


<script>

    //$(function () {
    //    var modal = $(".modal-content");
    //    var body = $(window);
    //    // Get modal size
    //    var w = 500;
    //    var h = 500;
    //    // Get window size
    //    var bw = body.width();
    //    var bh = body.height();

    //    // Update the css and center the modal on screen
    //    modal.css({
    //        "position": "absolute",
    //        "top": ((bh - h) / 2) + "px",
    //        "left": ((bw - w) / 2) + "px",
    //        "floar": "left"
    //    })

    //});
    $(function ($) {
        $("#day1").addClass("active");

    })
    $(document).on("click", ".btn-primary", function (event) {
     event.preventDefault();
     var buttonUrl = $(this).attr('href');
    //to some any remote data you need to send an ajax request.
    $.ajax({
      url: buttonUrl,
      type: 'GET',
      dataType: 'html'
    })
    .always(function(responseData) {
      $("#mypopup .modal-content").html(responseData);
      $("#mypopup").show();
    });

});
</script>
