@using FestivalWebApplication.ViewModels.TransferVehicle;
@model List<FestivalWebApplication.ViewModels.TransferVehicle.ListTransferVehicleVM>
@{
    ViewData["Title"] = "Index";
}


<h1>Transfer Vehicles</h1>
<div style="float:right; margin-bottom:10px;">
    <a asp-controller="TransferVehicle" asp-action="New" class="btn btn-success btn-lg active addnew" role="button" aria-pressed="true">Add New     <i class="fa fa-plus"></i></a>
</div>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Vehicle</th>
            <th>Registration number</th>
            <th>Driver</th>
            <th>Capacity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ListTransferVehicleVM x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Name</td>
                <td>@x.RegistrationNumber</td>
                <td>@x.Driver</td>
                <td>@x.Capacity</td>
                <td>
                    <a style="margin-right:5px;" asp-controller="TransferVehicle" asp-action="Detail" asp-route-id="@x.Id" class="btn btn-info active" role="button" aria-pressed="true">
                        <i class="fa fa-info"></i>
                    </a>
                    <a style="margin-right:5px;" asp-controller="TransferVehicle" asp-action="Edit" asp-route-id="@x.Id" class="btn btn-secondary active" role="button" aria-pressed="true">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a asp-controller="TransferVehicle" asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger" role="button" aria-pressed="true">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
