@using Festival.Web.ViewModels.Performer;
@model List<Festival.Web.ViewModels.Performer.PerformersListVM>
@{
    ViewData["Title"] = "Performers";
}

<h1>Performers</h1>
<div style="float:right; margin-bottom:10px;">
    <a asp-controller="Performer" asp-action="New" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add New <i class="fa fa-plus"></i></a>
</div>
<table class="table table-striped table-hover text-center ">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Performer</th>
            <th>Fee</th>
            <th>Manager</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PerformersListVM x in Model)
        {
            <tr>
                <td>@x.PerformerID</td>
                <td>@x.PerformerName</td>
                <td>@x.Fee KM</td>
                <td>@x.ManagerName</td>
                <td>@x.Contact</td>
                <td>
                    <div class="btn-group">
                        <a style="margin-right:5px;" asp-controller="Performer" asp-action="Detail" asp-route-id="@x.PerformerID" class="btn btn-info active btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-info mr-1"></i>
                            Detail
                        </a>
                        <a style="margin-right:5px;" asp-controller="Performer" asp-action="Edit" asp-route-id="@x.PerformerID" class="btn btn-secondary active btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a asp-controller="Performer" asp-action="Delete" asp-route-id="@x.PerformerID" class="btn btn-danger btn-sm" role="button" aria-pressed="true">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
