@using FestivalWebApplication.ViewModels.Performance;
@model List<FestivalWebApplication.ViewModels.Performance.PerformanceListVM>
@{
    ViewData["Title"] = "Performances";
}

<h1>Performance</h1>
<div style="float:right; margin-bottom:10px;">
    <a asp-controller="Performance" asp-action="New" class="btn btn-success btn-lg active" role="button" aria-pressed="true"><i class="fa fa-plus"></i></a>
</div>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Performer</th>
            <th>Stage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PerformanceListVM x in Model)
        {
            <tr>
                <td>@x.Start.ToString()</td>
                <td>@x.Performer</td>
                <td>@x.Stage</td>
                <td><a style="margin-right:5px;" asp-controller="Performance" asp-action="Edit" asp-route-id="@x.PerformanceID" class="btn btn-secondary active" role="button" aria-pressed="true"><i class="fa fa-edit"></i></a><a asp-controller="Performance" asp-action="Delete" asp-route-id="@x.PerformanceID" class="btn btn-danger" role="button" aria-pressed="true"> <i class="fa fa-trash"></i> </a></td>
            </tr>

        }
    </tbody>
</table>
